*, *:before, *:after {
  box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

a {
    &:focus, &:hover {
        cursor: pointer;
        text-decoration: none !important;
        outline: none !important;
    }
}

html, body {
    font-family: Roboto;
    font-size: 16px;
    color: $color-black-one;
}

button, input, select, textarea {
    font-weight: inherit;
    border: 0;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.clearfix {
    zoom: 1;
    &:before {
        content:"";
        display: table;
    }
    &:after {
        content:"";
        display: table;
        clear: both;
    }
}

.btn {
    padding: 18px 31px;
    font-size: 20px;
    color: $color-orange;
    background-color: $color-transparent;
    border-radius: 100px;
    border: 1px solid $color-orange;
    .link {
        color: $color-orange;
    }
    &:hover {
        color: $color-white;
        background-color: $color-orange;
        .link {
            color: $color-white;
        }
    }
}

.container {
    max-width: 1440px;
    width: 88%;
    margin: 0 auto;
}

.jumbotron {
    position: fixed;
    top: $navbar-h-web;
    width: 100%;
}

.section {
    position: relative;
    background-color: $color-white;
}

@media screen and (max-width: $screen-mobile) {
    .btn {
        padding: 8px 27px;
        font-size: 12px;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .jumbotron {
        top: $navbar-h-mobile;
    }
}